<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webDriverSettings" type="Enigmatry.Selenium.Tools.Configuration.WebDriverSettings, Enigmatry.Selenium.Tools" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>
    
  </runtime>

  <appSettings>
    <add key="SyncOnStart" value="false" />
    <add key="SyncOnCleanUp" value="false" />
    <add key="SyncIncremental" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AUT" value="/SRSUI/SRSAnywhere/Login" />
    <add key="AbsoluteURL" value="http://auto-mobile/SRSUI/mobile" />
    <add key="LogPath" value="C:\Users\ntyagi\source\repos\SRSUI\MAIN\Test\MLAnyWhereAutoTest\Logs" />
    <add key="TestDataPath" value="C:\Users\ntyagi\source\repos\SRSUI\MAIN\Test\MLAnyWhereAutoTest\TestData\" />
    <add key="BuildName" value="DemoBuild" />
    <add key="MLBuildVersion" value="Nea_Dev(9.12.59)" />
    <add key="MLMobileBuildVersion" value="DemoBuild" />
    <add key="Environment" value="QA" />
    <add key="TestReportName" value="Reports\MLMobileAutomationTestReport" />
    <add key="IEVersion" value="11.0.96" />
    <add key="FFVersion" value="51.1.0" />
    <add key="ChromeVersion" value="55.0.28" />
    <!-- <add key="DBName" value="FreedomDemo" />-->
    <add key="ExecutingBrowser" value="Chrome,Firefox,IE" />
    <add key="ScreenShotLocation" value="C:\Users\ntyagi\source\repos\SRSUI\MAIN\Test\MLAnyWhereAutoTest\SS\" />
    <!--0=SystemEvent,1=file-->
    <add key="ExceptionDestinationType" value="0" />
    <!--This path will be used for log exception in file, and will only -->
    <add key="ExceptionFilePath" value="C:\Users\ntyagi\source\repos\SRSUI\MAIN\Test\MLAnyWhereAutoTest\Logs\" />
    <!--iDash XPath for application-->
    <add key="iDashXPath" value="//*[contains(@src,'page/mobile/default.aspx')]"></add>
    <!--Supported Values true or false-->
    <add key="SendEmailReport" value="true" />
    <add key="EmailGroup" value="abcd@bhavnacorp.com,xyz@bhavnacorp.com" />
    <add key="SMTPHost" value="clientmail.mlsoft.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUserName" value="automationtester@mlsoft.com" />
    <add key="SMTPPassword" value="Welcome1" />
    <add key="SMTPTimeOut" value="60000" />
    <!--Supported Values true or false-->
    <add key="SMTPEnableSSL" value="true" />
    <add key="EmailSubject" value="Automation Test Results" />
    <add key="EmailFrom" value="automationtester@mlsoft.com" />
    <add key="EmailBody" value="Do not reply to this email. It's an auto genearted email. Please find automation test results as an attachment." />
    <!--Enable=true, disable=false-->
    <add key="EnableDBSnapShot" value="false" />
    <add key="ReplaceExistingTestResult" value="false" />
  </appSettings>
  
  <webDriverSettings>
    <remoteDriver address="http://hub.browserstack.com/wd/hub/">
      <desiredCapabilities>
        <capability key="browserstack.user" value="BROWSERSTACK_USER" />
        <capability key="browserstack.key" value="BROWSERSTACK_PASSWORD" />
        <capability key="browserstack.debug" value="true" />
      </desiredCapabilities>
    </remoteDriver>
    <generalBrowserOptions>
      <browser name="Chrome">
        <!--switches-->
        <browserPreferences>
          <browserPreference key="disableapplicationcache" value="--disable-application-cache">
          </browserPreference>
        </browserPreferences>
      </browser>
      <browser name="Firefox">
        <desiredCapabilities>
          <capability key="javascriptEnabled" value="true" />
        </desiredCapabilities>
      </browser>
    </generalBrowserOptions>
    <supportedBrowsers>
      <!--local-->
      <supportedBrowser key="browser1" name="Chrome" driverLocation="local" ignore="true">
      </supportedBrowser>
      <supportedBrowser key="browser2" name="Firefox" driverLocation="local" ignore="true">
      </supportedBrowser>
      <!--remote-->
      <supportedBrowser key="browser3" name="Chrome" driverLocation="remote" ignore="false">
        <desiredCapabilities>
          <capability key="browser_version" value="38" />
          <capability key="os" value="Windows" />
          <capability key="os_version" value="7" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
      <supportedBrowser key="browser4" name="Chrome" driverLocation="remote">
        <desiredCapabilities>
          <capability key="browser_version" value="39" />
          <capability key="os" value="Windows" />
          <capability key="os_version" value="8" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
      <supportedBrowser key="browser5" name="Firefox" driverLocation="remote" ignore="false">
        <desiredCapabilities>
          <capability key="browser_version" value="35" />
          <capability key="os" value="Windows" />
          <capability key="os_version" value="8" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
      <supportedBrowser key="browser6" name="Firefox" driverLocation="remote" ignore="false">
        <desiredCapabilities>
          <capability key="browser_version" value="27" />
          <capability key="os" value="Windows" />
          <capability key="os_version" value="7" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
      <supportedBrowser key="browser7" name="InternetExplorer" driverLocation="remote" ignore="false">
        <desiredCapabilities>
          <capability key="browser_version" value="11.0" />
          <capability key="os" value="Windows" />
          <capability key="os_version" value="8.1" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
      <supportedBrowser key="browser8" name="Safari" driverLocation="remote">
        <desiredCapabilities>
          <capability key="browser_version" value="7" />
          <capability key="os" value="OS X" />
          <capability key="os_version" value="Mavericks" />
          <capability key="resolution" value="1024x768" />
        </desiredCapabilities>
      </supportedBrowser>
    </supportedBrowsers>
  </webDriverSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>